[submodule "yorozuya"]
	path = yorozuya
	url = https://github.com/seven332/Yorozuya
[submodule "conaco"]
	path = conaco
	url = https://github.com/seven332/Conaco
[submodule "beerbelly"]
	path = beerbelly
	url = https://github.com/seven332/BeerBelly
[submodule "easyrecyclerview"]
	path = easyrecyclerview
	url = https://github.com/seven332/EasyRecyclerView
