[submodule "yorozuya"]
	path = yorozuya
	url = https://github.com/seven332/Yorozuya
[submodule "hotspot"]
	path = hotspot
	url = https://github.com/seven332/Hotspot
[submodule "rippleold"]
	path = rippleold
	url = https://github.com/seven332/RippleOld
[submodule "conaco"]
	path = conaco
	url = https://github.com/seven332/Conaco
[submodule "beerbelly"]
	path = beerbelly
	url = https://github.com/seven332/BeerBelly
[submodule "unifile"]
	path = unifile
	url = https://github.com/seven332/UniFile
[submodule "vector"]
	path = vector
	url = git@github.com:seven332/Vector.git
[submodule "anani"]
	path = anani
	url = https://github.com/seven332/Anani
[submodule "easyrecyclerview"]
	path = easyrecyclerview
	url = https://github.com/seven332/EasyRecyclerView
